.cont {
    background-color: white;
    width: 100%;
  }

  .btn-brown {
    display: inline block;

    background-color: #8B4513;
    color: #FFFFFF;
    border-color: #8B4513;
    margin: 15px;
    float: left;
    width: 100px;

    
  }
  
  .btn-brown:hover {
    background-color: #A0522D;
    border-color: #A0522D;
  }
  
  .btn-brown:active {
    background-color: #5C3317;
    border-color: #5C3317;
  }
  
  .form-group{
    margin-top: 40px;
    
  }