<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="container-fluid col-md-2 col-sm-12">
      <nav class="sidebar navbar-expand-lg  btnstyle" [class.sidebar-open]="isSidebarOpen">

        <div class="collapse navbar-collapse" id="dashboard-collapse" style="position: fixed; margin-top: -200px;">
          <ul class="nav flex-column" style="font-size: larger;">
            <li class="nav-item">
              <a class="nav-link" routerLink="/customer/profile"> إعدادت الحساب </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/customer/orders-list">قائمة الطلبات</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/customer/fav">المفضلة</a>
            </li>
          </ul>
        </div>

      </nav>
    </div>
    <div class="col-md-10 col-lg-10 main-content">
      <!-- Profile Section -->
      <div>
        <button class="btn navbar-toggler d-md-none custom-toggler btnMenu" type="button" data-bs-toggle="collapse"
          data-bs-target="#dashboard-collapse" aria-controls="dashboard-collapse" aria-expanded="false"
          aria-label="Toggle navigation" (click)="toggleSidebar()">
          <span class="icon-bar bg-light"></span>
          <span class="icon-bar bg-light"></span>
          <span class="icon-bar bg-light"></span>
        </button>
      </div>
      <div class="profile-photo ph-profile" *ngIf="customer?.customerImagePath == null">
        <img src="/Images/profileophoto.png" alt="Profile Photo" class="img-thumbnail" />
      </div>
      <div class="profile-photo ph-profile" *ngIf="customer?.customerImagePath != null">
        <img [src]="url+imgProfilePath" alt="Profile Photo" class="img-thumbnail" />
      </div>

      <div class="text-center">
        <h2 class="heading" style="margin-top:50px ;">{{fullname}}</h2>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>