.cont{
    background-color: #f8f9fa;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(6, 6, 6, 0.1);
   }
   .container{
    margin-top: 30px;
    margin-bottom: 30px;
   }
   .btn-brown {
      background-color: #8B4513; 
      color: #FFFFFF; 
      border-color: #8B4513;
  }
  
  .btn-brown:hover {
      background-color: #A0522D; 
      border-color: #A0522D;
  }
  
  .btn-brown:active {
      background-color: #5C3317; 
      border-color: #5C3317;
  }
  .resetBtn a{
    color: #5C3317;
    text-decoration: none;
  }
  .resetBtn{
    margin-bottom: 10px;
  
  }
  .d-grid{
    margin: 100px;
    box-shadow: 0px 0px 10px rgba(6, 6, 6, 0.1);
  }
  .lo{
    text-align: center;
    margin: 20px;
  }