<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card p-4">
                <h2 class="text-center mb-4">مرحبًا بك</h2>
                <h4 class="text-center mb-4">تسجيل الدخول</h4>
                <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
                    <div class="form-floating mb-3">
                        <input formControlName="Username" type="text" placeholder="البريد الإلكتروني"
                            class="form-control" [class.is-invalid]="submitted && loginForm.get('Username')?.errors">
                        <label for="Username">البريد الإلكتروني</label>

                        <span class="text-danger" *ngIf="submitted && loginForm.get('Username')?.hasError('required')">
                            البريد الإلكتروني مطلوب
                        </span>
                        <span class="text-danger" *ngIf="submitted && loginForm.get('Username')?.hasError('pattern')">
                            البريد الإلكتروني غير صحيح
                        </span>
                    </div>

                    <div class="form-floating mb-3">
                        <input formControlName="Password" type="password" placeholder="كلمة السر" class="form-control"
                            [class.is-invalid]="submitted && loginForm.get('Password')?.errors">
                        <label for="Password">كلمة السر</label>
                        <span class="text-danger" *ngIf="submitted && loginForm.get('Password')?.hasError('required')">
                            كلمة السر مطلوبة
                        </span>
                        <span class="text-danger"
                            *ngIf="submitted && loginForm.get('Password')?.hasError('minlength') || loginForm.get('password')?.hasError('maxlength')">
                            كلمة السر يجب ان تكون من 6 أحرف او أرقام الي 15
                        </span>
                    </div>

                    <div class="form-floatin" *ngIf="errorMessages.length > 0">
                        <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
                        <a class="btn btn-link" (click)="resendEmailConfirmationLink()"
                            *ngIf="errorMessages[0].includes('قم بتأكيد بريدك الإلكتروني')">
                            إعادة إرسال تأكيد البريد الإلكتروني
                        </a>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-brown" type="submit">تسجيل</button>
                    </div>
                    <div class="text-center mb-6 ">
                        <a class="btn btn-link" routerLink="/account/send-email/resend-email-confirm-link">
                            <h6>إعادة إرسال تأكيد البريد الإلكتروني</h6>
                        </a>
                        <a class="btn btn-link" routerLink="/account/send-email/forget-username-or-password">
                            <h6>نسيت كلمة السر ؟</h6>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <form class="col-md-6">
            <div class="d-grid gap-2">
                <h4 class="lo">قم بالتسجيل عن طريق </h4>
                <a href="https://www.facebook.com" target="_blank" class="btn btn-outline-secondary mx-2">
                    <i class="fab fa-facebook-f"></i> Facebook
                </a>
                <a href="https://mail.google.com" target="_blank" class="btn btn-outline-secondary mx-2">
                    <i class="fab fa-google"></i> Google
                </a>
            </div>
        </form>
    </div>
</div>