<div class="main" style="font-family: 'Cairo';">
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="card p-4">
                <h2 class="text-center mb-4">مرحبًا بك</h2>
                <h4 class="text-center mb-4">تسجيل الدخول</h4>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="form-floating mb-3">
                        <input formControlName="Username" type="text" placeholder="البريد الإلكتروني"
                            class="form-control" [class.is-invalid]="submitted && loginForm.get('Username')?.errors">
                        <label for="Username">البريد الإلكتروني</label>

                        <span class="text-danger" *ngIf="submitted && loginForm.get('Username')?.hasError('required')">
                            البريد الإلكتروني مطلوب
                        </span>
                        <span class="text-danger" *ngIf="submitted && loginForm.get('Username')?.hasError('pattern')">
                            البريد الإلكتروني غير صحيح
                        </span>
                    </div>

                    <div class="form-floating mb-3">
                        <input formControlName="Password" type="password" placeholder="كلمة السر" class="form-control"
                            [class.is-invalid]="submitted && loginForm.get('Password')?.errors">
                        <label for="Password">كلمة السر</label>
                        <span class="text-danger" *ngIf="submitted && loginForm.get('Password')?.hasError('required')">
                            كلمة السر مطلوبة
                        </span>
                        <span class="text-danger"
                            *ngIf="submitted && loginForm.get('Password')?.hasError('minlength') || loginForm.get('password')?.hasError('maxlength')">
                            كلمة السر يجب ان تكون من 6 أحرف او أرقام الي 15
                        </span>
                    </div>

                    <div class="form-floatin" *ngIf="errorMessages.length > 0">
                        <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
                        <a class="btn btn-link" (click)="resendEmailConfirmationLink()">
                            إعادة إرسال تأكيد البريد الإلكتروني
                        </a>
                    </div>
                    <div class="d-grid x-grid">
                        <button class="btn btn-outline-dark" type="submit">تسجيل الدخول</button>
                    </div>
                    <div class="text-center mb-6 ">
                        <a class="btn btn-link" routerLink="/account/register">
                            <h6>إنشاء حساب جديد</h6>
                        </a>
                        <br>
                        <a class="btn btn-link" routerLink="/account/send-email/resend-email-confirm-link">
                            <h6>إعادة إرسال تأكيد البريد الإلكتروني</h6>
                        </a>
                        <a class="btn btn-link" routerLink="/account/send-email/forget-username-or-password">
                            <h6>نسيت كلمة السر ؟</h6>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>