.main {
  position: relative;
  padding: 20px;
  height: 90vh;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 500;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/Images/background.png");
  background-position: center;
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}

.confirm-btn {
  background-color: #401a04;
  color: #ffff;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 50px;
}

input {
  width: 80%;
}

.email {
  margin-right: 60px;

}

.password {
  margin-right: 60px;

}

.confirm-btn:hover {
  background-color: #672608;
}

.resetBtn a,
a {
  color: #672608;
  text-decoration: none;
}


.card {
  margin-top: 50px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

@media only screen and (max-width: 932px) {
  label {
    margin-left: 50px;
    display: none;
  }

  input {
    width: 100%;
  }

  .card {
    width: 100%;
  }

  input {
    margin-right: -40px;
    padding-left: 300px;
  }
}

.form-control:focus {
  border-color: #401a04;
  box-shadow: none;
}