<div class="imgcontainer">
  <img src="/Images/background.png" />
  <div class="container mt-5">
    <div class="row">
      <!-- Contact Info Section -->
      <div class="col-md-4">
        <div class="contact-info" style="height: 500px">
          <h4>معلومات الاتصال</h4>
          <p><i class="fas fa-phone"></i> +20 0112555666</p>
          <p><i class="fas fa-envelope"></i> Tammrashop &#64; tammra.com</p>
          <p>
            <i class="fas fa-map-marker-alt"></i>
            تمرة - متجر إلكتروني متخصص في بيع أجود أنواع التمر ومنتجاته
            المتنوعة. استمتع بأفضل أنواع التمر الطازج والمغذّي مع خدمة توصيل
            سريعة وآمنة إلى باب منزلك
          </p>
          <h5>تابعنا</h5>
          <div class="d-grid gap-2 socialmedialinks">
            <a
              href="https://www.facebook.com"
              class="btn btn-outline-secondary"
            >
              <i class="fab fa-facebook-f"></i> Facebook
              <!-- <i class="fab fa-facebook-f" style="color: #0a3d9b;"></i> -->
            </a>
            <a
              href="https://mail.google.com"
              target="_blank"
              class="btn btn-outline-secondary"
            >
              <i class="fab fa-google"></i> Google
            </a>
                      
          </div>
        </div>
      </div>
      <!-- Form Section -->
      <div class="col-md-8">
        <div class="form-section">
          <h4>هل لديك أي أسئلة؟</h4>
          <form>
            <div class="form-row">
              <div class="form-group col-md-4">
                <input type="text" class="form-control" placeholder="الاسم" />
              </div>

              <div class="form-group col-md-4">
                <input
                  type="text"
                  class="form-control col-md-8"
                  placeholder="رقم الهاتف"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-8">
                <input
                  type="email"
                  class="form-control"
                  placeholder="البريد الإلكتروني"
                />
              </div>
              <div class="form-group col-md-8">
                <input type="text" class="form-control" placeholder="الموضوع" />
              </div>
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                rows="4"
                placeholder="أدخل رسالتك"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-custom">أرسل رسالتك</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- FontAwesome Icons -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
