    <div class="terms-section">
        <h3><i class="fa-solid fa-triangle-exclamation"></i>
        الشروط والاحكام </h3>
    </div>
<div class="terms-container">
    <div class="terms-section">
        <h4> عام</h4>
        <h5>
            يحق لنا تغيير هذه البنود والشروط في أي وقت، ويتم اعتبار أي من هذه التغييرات سارية المفعول في اليوم الذي يتم فيه النشر على تمرة   
            انظر التاريخ في أعلى الصفحة. يجب عليك قراءة الشروط في كل مرة تستخدم فيها تمرة
            وتسجيل حساب أو استخدام الخدمات التي تقدمها شركة زادنا على الموقع. في حالة عدم موافقتك على كل الشروط أو بعض منها، يجب عليك التوقف عن استخدام موقع تمرة
        </h5>
    </div>
</div>
<div class="terms-container">
    <div class="terms-section">
        <h4>الحساب والمستخدم المسجل لدى الموقع</h4>
        <h5>
           - التسجيل في الموقع مجاني ويتم من خلال موقعنا فقط.<br>
           - يجب مراعاة أن تكون البيانات المقدمة (الاسم، العنوان، رقم الجوال) من قبل العميل حقيقية وصحيحة حتى يمكننا تقديم أفضل خدمة.
        </h5>
    </div>
</div>
    <div class="terms-container">
        <div class="terms-section">
        <h4>عملية الطلب</h4>
        <h5>
            - يحق للموقع الاطلاع على كافة الطلبات القادمة من قبلكم والتعديل عليها بموافقة العميل سواء خطيا أو بالهاتف.
<br>
-  طلبك للمنتجات من موقعنا يعني أن العميل قادر على سداد المبلغ عند وصول المنتج إلى المكان المحدد من قبل العميل

        </h5>
        </div>
    </div>
        <div class="terms-container">
            <div class="terms-section">

            <h4>الدفع</h4>
            <h5>
                - يمكن إجراء
                الدفع عند استلام الطلب أو عند إجراء عملية الدفع باستخدام بطاقة الائتمان أو بطاقة الخصم (“بطاقة”) في الوقت الذي نتلقى طلبك للمنتجات ذات الصلة 
                ،و بعد أن نتحقق من تفاصيل بطاقتك. ويتم توفير المنتجات حسب تواجدها . في حال كنا غير قادرين على توفير المنتجات ، 
                فإننا سوف نبلغك في أقرب وقت ممكن. وسيتم إعادة كامل المبلغ الذي قمت بدفعه للمنتج.
                <br> - 
 للتأكد من عدم استخدام البطاقة دون موافقتك 
 اذا أردت استعمال الفودافون كاش وبطافه فيزا كارد    كطريقة الدفع سوف يتم توجيهك إلى موقع الانترنت الخاص بإجراءات الدفع الفودافون كاش  و الفيزا ، 
 حيث سيطلب منك إدخال تفاصيل البطاقة (مثل رقم البطاقة وتاريخ انتهاء الصلاحية ، والرمز السري) . 
 و سنتأكد من صحة اسمك و عنوانك، و غيرها من المعلومات الشخصية التي قدمتها لنا خلال عملية إجراء الطلب و ذلك باستخدام قواعد البيانات المناسبة من قبل أطراف أخرى. بقبولك هذه الشروط ، فإنك توافق على إجراء مثل عمليات الـتأكد هذه.
  يمكن الكشف عن المعلومات الشخصية التي قدمتها إلى وكالة الائتمان المرجعي المسجلة (موقع الانترنت الخاص بإجراءات الدفع الماستركارد و الفيزا) 
 ، والتي قد تحتفظ بسجل لتلك المعلومات. برجاء ملاحظة أن هذا يتم فقط لتأكيد الهوية الخاصة بك وبأن تصنيفك الائتماني لن يتأثر.
  إن جميع المعلومات التي قدمتها لنا سيتم التعامل بها بشكل آمن وبالتوافق التام مع القانون المعمول به.
            </h5>
        </div> 
    </div>
        <div class="terms-container">
            <div class="terms-section">

            <h4>الشحن</h4>
            <h5>
                سيتم إرسال رسالة للمشتري برقم التتبع الخاص بالشحنة حتى تعلم أول بأول موعد وصول الشحنة وبذلك ينتهي عمل  تمرة إلى هنا.
            </h5>
            </div>
        </div>
        <div class="terms-container">
            <div class="terms-section">

            <h4>اتصل بنا </h4>
            <h5>
                إذا كان لديك أي ملاحظات أو استفسارات تتعلق بسياسة الخصوصية الخاصة بنا، يمكنك التواصل معنا عن طريق صفحة اتصل بنا الموجودة بالموقع.
            </h5>
            </div>
        </div>
        <div class="terms-container">
            <div class="terms-section">

            <h4> شروط و أحكام الضمان </h4>
            <h5>
                 أغلب المنتجات نقوم بتقديمها بضمان الوكيل الرسمي للمنتج ويتم توضيح اسم الضمان ومدته عند كل منتج.
            </h5>
            </div>
        </div>
   