<div class="about-us-section">
  <div class="image-text-container">
    <div class="text-overlay">
    </div>
    <img src="Images/Picture1.png" alt="Dates Fruits" class="img" />
  </div>
  <div class="description">
    <p>
      مهمتنا
      <br>
      مهمتنا في [ تمرة ] هي تقديم أفضل أنواع التمور الطبيعية من مزارعنا مباشرة إلى مائدتك.
      نلتزم بتوفير منتجات ذات جودة عالية ومذاق لا يُضاهى، مع الحفاظ على التراث الأصيل لهذه الفاكهة المميزة.
      نسعى لتحقيق أعلى معايير الجودة والابتكار لتلبية احتياجات عملائنا وضمان رضاهم.

    </p>
    <p>
      رؤيتنا
      <br>
      رؤيتنا هي أن نصبح الرائدين في مجال تجارة التمور على مستوى العالم، من خلال تقديم تجربة تسوق فريدة لعملائنا تعتمد
      على الجودة والموثوقية والتميز.
      نهدف إلى نشر فوائد التمور الصحية وجعلها جزءًا من حياة كل فرد.
    </p>
    <p>
      من نحن
      <br>
      نحن في [تمور الوادي ] نؤمن بأن التمور ليست مجرد فاكهة،
      بل هي جزء من ثقافتنا وتراثنا العريق. نعمل بجد لتقديم مجموعة متنوعة من التمور التي تم اختيارها بعناية من أفضل
      المزارع.
      نحن فريق متحمس، نعتز بتراثنا ونفخر بتقديم منتجات تجمع بين الأصالة والجودة.
    </p>
    <p>
      <br>فوائد التمور
      <br>
      التمور ليست فقط لذيذة، بل تحتوي على العديد من الفوائد الصحية:

      غنية بالفيتامينات والمعادن: التمور تحتوي على العديد من الفيتامينات والمعادن مثل البوتاسيوم، المغنيسيوم، والحديد،
      التي تساعد في دعم صحة الجسم.
      تحسين الهضم: بفضل محتواها العالي من الألياف، تساعد التمور في تحسين عملية الهضم وتعزيز صحة الجهاز الهضمي.
      زيادة الطاقة: التمور توفر طاقة سريعة وطبيعية للجسم بفضل السكريات الطبيعية التي تحتوي عليها.
      صحة القلب: الألياف والبوتاسيوم الموجودان في التمور يساعدان في خفض مستويات الكوليسترول وضغط الدم، مما يدعم صحة
      القلب.
      مضادات الأكسدة: تحتوي التمور على مضادات الأكسدة التي تساعد في محاربة الجذور الحرة وحماية الجسم من الأمراض.
      استمتع بتجربة فريدة مع [اسم الموقع] حيث نحرص على تقديم أفضل أنواع التمور التي تجمع بين النكهة الغنية
      والفوائد الصحية.
    </p>
  </div>
</div>