<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-2 sidebar sidebar-sticky" [ngClass]="{ 'sidebar-closed': !isSidebarOpen }"
            *ngIf="isVendorOrAdmin">
            <div style="margin-bottom: 300px;"> </div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/product/vendor-account"> معلوماتك الشخصية </a>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="true">
                        المنتجات
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item " routerLink="/product/all-product">عرض المنتجات</a>
                        </li>
                        <li>
                            <a class="dropdown-item " routerLink="/product/add-product">إضافة منتج</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/orders">الطلبات</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 col-lg-10 main-content">
            <button class="navbar-toggler d-md-none custom-toggler" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="profile-section">
                <div class="cover-photo">
                    <img [src]="url+coverPath" alt="Cover Photo" class="img-fluid" />
                </div>
                <div class="profile-photo  text-center">
                    <img [src]="url+profilePath" alt="Profile Photo" class="rounded-circle" />
                </div>
                <div class="vendor-info text-center">
                    <h2>{{companyName}}</h2>
                    <p>
                        {{description}}
                    </p>
                </div>
            </div>
            <div>
                <h2>Select Your Market Location</h2>
                <div class="map-container">
                    <google-map height="300px" width="70%" [center]="center" [zoom]="zoom"
                        (mapClick)="onMapClick($event)">
                    </google-map>
                </div>
                <div *ngIf="latitude && longitude">
                    <p>Latitude: {{ latitude }}</p>
                    <p>Longitude: {{ longitude }}</p>
                    <button (click)="saveLocation()">Save Location</button>
                </div>
            </div>
            <router-outlet></router-outlet>
            <app-vendor-info></app-vendor-info>
        </div>
    </div>
</div>