  .container-products {

      display: flex;
      justify-content: center;
      padding: 20px;
  }

  .product-card {
      background-color: #f2d4ae;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0 4px 8px rgba(51, 21, 1, 0.1);
      width: 100%;
      max-width: 300px;
      /* overflow: hidden; */
      text-align: center;
      margin: 10px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .product-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .product-image img {
      width: 100%;
      height: auto;
  }

  .product-title {
      font-size: 1.2em;
      margin: 10px 0;
  }

  .product-description {
      color: #666;
      font-size: 0.9em;
  }

  .product-price {
      font-weight: bold;
      margin: 10px 0;
  }

  .btn-brown {
      background-color: #8B4513;
      color: #FFFFFF;
      border-color: #8B4513;

      width: 110px;
      margin-left: 25px;
  }

  .btn-brown:hover {
      background-color: #A0522D;
      border-color: #A0522D;
  }


  @media (max-width: 768px) {
      .container-products {
          flex-direction: column;
          align-items: center;
      }

      .product-card {
          max-width: 90%;
      }
  }

  @media (max-width: 576px) {
      .product-title {
          font-size: 1em;
      }

      .product-description {
          font-size: 0.8em;
      }

      .product-price {
          font-size: 1em;
      }
  }
  .original-price {
    text-decoration: line-through;
    color: gray;
    margin-right: 10px;
}

.sale-price {
    color: red;
    font-weight: bold;
}