<div class="terms-section">
    <h3><i class="fa-solid fa-repeat"></i>
        سياسة الاسترجاع 
     </h3>
<div class="terms-container">
<div class="terms-section">
    <h4>
        يجب توفر الشروط التالية للتأهل لاسترداد المبلغ المدفوع:

    </h4>
    <h5>
- المنتج يختلف عن الوصف المذكور له
<br>
- يجب ان يكون المنتج بحالته وأغلفته الاصلية وغير مفتوح أو مستخدم
<br>
- مرور أقل من 7 أيام من تاريخ الشراء

<br>
- يجب أن لا يكون قد الحق المنتج أي ضرر

<br>
- يتم فحص جميع المرتجعات من أجل ضمان استيفاء الشروط المذكورة أعلاه.
 إذا كان المنتج لا يستوفي الشروط المذكورة أعلاه فإننا نحتفظ بالحق في عدم رد المبلغ المدفوع
<br>

- السلع القابلة للتلف مستثناة بشكل كامل من الإسترجاع
    </h5>
</div>
</div>
<div class="terms-container">
    <div class="terms-section">
        <h4> إثبات الدفع </h4>
        <h5>
            لإكمال عملية الإسترجاع نحتاج إلى فاتورة أو طلب شراء أو أي دليل آخر على الشراء.
             يُرجى ملاحظة أننا لن نقوم برد المبلغ بدون وجود إثبات الدفع المذكور 
        </h5>
    </div>
</div>
<div class="terms-container">
    <div class="terms-section">
    <h4>منتجات التخفيضات والعروض    </h4>
    <h5>
        فقط المنتجات بلأسعار العادية يمكن إرجاعها. ولا يمكن للأسف إرجاع المنتجات المباعة في التخفيضات أو العروض

    </h5>
    </div>
</div>
</div>