<div class="container-fluid">
  <div class="card">
    <div class="row">
      <div class="col-md-4 col-sm-11 col-xs-11">
        <div class="footer-text pull-left">
          <div class="d-flex">
            <h1 class="font-weight-bold mr-2 px-3" style="color:#16151a; background-color:#d8d1b8"> T </h1>
            <h1 style="color: #ded8c8">تمرة</h1>
          </div>
          <p class="card-text">تمرة هي منصتك الإلكترونية المتخصصة في تقديم أجود أنواع البلح</p>
          <div class="social mt-2 mb-3">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-1 col-xs-1 mb-2"></div>

      <div class="col-md-2 col-sm-4 col-xs-4">

        <h5 class="heading">حسابك</h5>
        <ul>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/Register">حسابي </a>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/customer/order">الطلبات </a>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/customer/Item">سله الشراء </a>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/customer/fav">المفضلة </a>

        </ul>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-4">
        <h5 class="heading">تواصل معنا </h5>
        <ul class="card-text">

          <li class="nav-item">
            <a class="mapi" href="https://www.google.com/maps/place/Al+Wadi+Al+Jadid+Governorate,+Egypt/">المقر الإداري
            </a>
          </li>
          <li>موبايل |01127468978 </li>
          <li>ايميل tammra&#64;gmail.com</li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-4">
        <h5 class="heading"> معلومات عنا </h5>
        <ul class="card-text">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/about">نبذه عنا </a>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/contact"> اتصل بنا </a>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/change">الشروط والاحكام </a>
          <li>
            <a class="nav-link" routerLinkActive="active" routerLink="/refond">سياسة الإسترجاع</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row" style="font-size:10px;">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="pull-left">
          <p><i class="fa fa-copyright"></i> 2024 جميع الحقوق محفوظه لتمرة </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="pull-right mr-4 d-flex policy">
          <div>Terms of Use</div>
          <div>Privacy Policy</div>
          <div> Policy</div>
        </div>
      </div>
    </div>
  </div>
</div>