
.container {
  flex: 1;
}

.Ftr {
height: 20vh;
  position: relative;
  background-color: rgb(241, 238, 238);
  color: #7c3030;
  padding: 20px;
  text-align: center;
  flex-shrink: 0;
  box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.2);
}

.Ftr a {
  color: #783e3e;
  text-decoration: none;
}
