<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">

<div class="imgbg">
    <img class="image" src="Images/background.png" />
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-8 col-md-12 d-flex flex-column">
                <!-- Cart Header Card -->
                <div class="card border-0 mb-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-1">
                            <h6>المنتجات ({{ cartItems.length }})</h6>
                        </div>
                    </div>
                </div>

                <!-- Cart Item Card -->
                <div *ngIf="cartItems.length > 0">
                    <div class="card border-0 mb-3" *ngFor="let item of cartItems">
                        <div class="card-body d-flex flex-column flex-md-row align-items-center">
                            <img src="{{url}}{{item.image}}" class="img1" alt="Product">
                            <div class="cart-details d-flex flex-column ms-md-3">
                                <p class="mb-1"><strong style="font-size: large;">{{ item.productName }}</strong></p>
                                <div class="d-flex flex-row align-items-center mt-3 mt-md-0"><strong>الكمية : </strong>
                                    <span style="color: green;">
                                        <div class="small-number-input">
                                            <button class="decrement butto" (click)="decrement(item)">-</button>
                                            <input type="number" value="{{item.quantity}}" min="1" max="100" readonly />
                                            <button class="increment butto" (click)="increment(item)">+</button>
                                        </div>
                                    </span>
                                </div>
                                <div *ngIf="item.priceAfterSale != 0">
                                    <p><strong>السعر:
                                        </strong> <span class="original-price price"
                                            style="color: red;">{{item.price}}</span> ج.م <i
                                            class="fa fa-arrow-left"></i>
                                        <span class="sale-price"> {{ item.priceAfterSale }} ج.م </span>
                                    </p>
                                </div>
                                <div *ngIf="item.priceAfterSale == 0">
                                    <p><strong>السعر:
                                        </strong> <span class="price" style="color: red;">{{item.price}}</span>
                                        ج.م
                                    </p>
                                </div>
                            </div>

                            <div class="d-flex flex-column align-items-center">
                                <div class="symbols d-flex flex-row align-items-center mt-3 mt-md-0">

                                    <i class="bi bi-trash me-3"
                                        style="cursor: pointer; font-size: 35px; color: crimson;"
                                        (click)="removeItem(item.productId)">
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="cartItems.length == 0">
                    <button class="btn btn-brown my-3" id="bttn" disabled>تأكيد
                        الطلب</button>
                </div>
                <div *ngIf="cartItems.length > 0">
                    <button class="btn btn-brown my-3" id="bttn" routerLink="/confirm-order" (click)="SendTotolPrice()">تأكيد
                        الطلب</button>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 d-flex flex-column">
                <div class="card border-0">
                    <div class="card-body">
                        <h6 class="mb-3">ملخص الطلب</h6>
                        <h4 style="color: crimson; font-size: large;"><strong> {{totalAmount}} ج.م</strong></h4>


                        <hr>
                        <h6 class="pay mb-3">نقبل</h6>
                        <div class="paymethods">
                            <img src="/Images/meza.png" style="width: 100px;" alt="Visa">
                            <img src="https://img.icons8.com/color/48/000000/paypal.png" alt="PayPal">
                            <img src="https://img.icons8.com/color/48/000000/visa.png" alt="Visa">
                            <img src="https://img.icons8.com/color/48/000000/mastercard.png" alt="Mastercard">
                            <img src="https://img.icons8.com/color/48/000000/cash.png" alt="Cash">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>